<input *ngIf="menuOpenButton"
    id="menu-open-checkbox"
    name="menu-open-checkbox"
    type="checkbox"
    class="menu-open-checkbox"
    [checked]="menuOpenButtonValue"
    (click)="setMenuOpenButtonValue($event.target.checked)" />
<label *ngIf="menuOpenButton" class="animated fadeIn" [ngClass]="menuOpenButtonClass" for="menu-open-checkbox">
    <i [ngClass]="menuOpenButton.icon"></i>
</label>
<a *ngFor="let item of menuItems" 
    class="animated fadeIn" 
    [ngClass]="{'menu-item-flower': menuItemClass == 'menu-item-flower', 'menu-item-row': menuItemClass == 'menu-item-row', 'selected': item.selected}" 
    (click)="clickMenuItemHandler(item)">
    <i [ngClass]="item.icon"></i>
</a>