.menu-open-checkbox {
  display: none;
}

.menu-open-button-flower {
  background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: absolute;
  text-align: center;
  line-height: 90px;
  transition-duration: 100ms;
  z-index: 2;
  cursor: pointer;
  top:50%;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-top:-45px;
  margin-left:-45px;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-button-flower:active {
  transform: translate3d(0, 0, 5);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-button-row {
  background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: absolute;
  text-align: center;
  line-height: 90px;
  transition-duration: 100ms;
  z-index: 2;
  cursor: pointer;
  top:50%;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-top:-45px;
  margin-left:-45px;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-button-row:active {
  transform: translate3d(0, 0, 5);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-item {
  background-color: #3498DB;
	border-bottom:2px solid #2980B9;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
  line-height: 80px;
  transition: transform ease-out 200ms;
  cursor: pointer;
  top:50%;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-top:-40px;
  margin-left:-40px;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(3) {
  transition-duration: 100ms;
  transform: translate3d(0.07963px, -99.99997px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(3):active {
  transition-duration: 50ms;
  transform: translate3d(0.07963px, -97.99997px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(4) {
  transition-duration: 100ms;
  transform: translate3d(86.61581px, -49.97701px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(4):active {
  transition-duration: 50ms;
    transform: translate3d(86.61581px, -47.97701px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(5) {
  transition-duration: 100ms;
  transform: translate3d(86.61581px, 49.97701px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(5):active {
  transition-duration: 50ms;
  transform: translate3d(86.61581px, 51.97701px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(6) {
  transition-duration: 100ms;
  transform: translate3d(0.07963px, 99.99997px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(6):active {
  transition-duration: 50ms;
  transform: translate3d(0.07963px, 101.99997px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(7) {
  transition-duration: 100ms;
  transform: translate3d(-86.5361px, 50.1149px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(7):active {
  transition-duration: 50ms;
  transform: translate3d(-86.5361px, 52.1149px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(8) {
  transition-duration: 100ms;
  transform: translate3d(-86.6953px, -49.839px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(8):active {
  transition-duration: 50ms;
  transform: translate3d(-86.6953px, -47.839px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(3) {
  transition-duration: 100ms;
  transform: translate3d(0.07963px, -99.99997px, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-flower ~ .menu-item:nth-child(3):active {
  transition-duration: 50ms;
  transform: translate3d(0.07963px, -97.99997px, 0) !important;
  border-bottom: 1px solid #2980B9;
  box-shadow: 0.5px 0.5px 0.5px #2980B9;
}

.menu-open-checkbox:checked ~ .menu-open-button-row ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate3d(110px, 0, 0);
  transform: translate3d(110px, 0, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-row ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-row ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate3d(330px, 0, 0);
  transform: translate3d(330px, 0, 0);
}

.menu-open-checkbox:checked ~ .menu-open-button-row ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: translate3d(440px, 0, 0);
  transform: translate3d(440px, 0, 0);
}